{% extends 'cms/cms_base.html' %}

{% block title %}
  <title>个人信息</title>
{% endblock %}

{% block page_title %}
  <h1 class="page-header">个人信息</h1>
{% endblock %}

{% block content %}
  {% set user = g.cms_user %}
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>用户名</td>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <td>邮箱</td>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>加入时间</td>
        <td>{{ user.join_time }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}